[alias]
	nccommit = commit -a --allow-empty-message -m \"\"
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
# https://golang.org/doc/contribute.html
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
	restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"
[user]
	email = foolswisdom@gmail.com
	name = Lloyd Dewolf
[push]
	default = current
[color]
	# color things when sending output to a terminal
	ui = true
[core]
	excludesfile = /Users/ll/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[help]
	# automatically run a misspelled git command if there's only one suggestion
	autocorrect = 1
[http]
	cookiefile = /Users/ll/.gitcookies
[ghq]
	root = /Users/ll/gopath/src/
[branch]
	autosetupmerge = true
# Causing problems with go prepare in Go 1.4
#[url "git@github.com:"]
	# prefer ssh to github over https
#insteadOf = https://github.com/
